<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1><%= @podcast.title %></h1>
      <p class="description">
        <%= @podcast.description %>
      </p>
      <% unless @podcast.itunes.blank? %>
      <a href="#" class="subscribe_link">iTunes</a>
      <% end %>
      <% unless @podcast.stitcher.blank? %>
      <a href="#" class="subscribe_link">Stitcher</a>
      <% end %>
      <% unless @podcast.podbay.blank? %>
      <a href="#" class="subscribe_link">Podbay</a>
      <% end %>
    </div>
  </div>
  <div id="breadcrumb">
    <%= link_to podcasts_path do %>
      All Podcasts
      <span>/</span>
      The Rocketship Podcast
    <% end %>
  </div>
  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="cf">
        <li class="cf">
          <div class="episode_thumbnails">
            <a href="#">
              <img src="images/pieter_levels.png" alt="Pieter Level">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to Pull Off 12 (Well Executed) Startup in 12 Months</a></h2>
            <p class="description">
              Pork belly mumblecore try-hard chillwave, occupy hoodie you probably haven't heard of them YOLO church-key aesthetic. Knausgaard distillery scenester affogato direct trade literally. Jean shorts typewriter fashion axe meh, portland tattooed man braid YOLO try-hard meggings single-origin coffee cliche viral church-key beard. Wolf beard direct trade put a bird on it 90's occupy.
            </p>
          </div>
        </li>
        <li class="cf">
          <div class="episode_thumbnails">
            <a href="#">
              <img src="images/pieter_levels.png" alt="Pieter Level">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to Pull Off 12 (Well Executed) Startup in 12 Months</a></h2>
            <p class="description">
              Pork belly mumblecore try-hard chillwave, occupy hoodie you probably haven't heard of them YOLO church-key aesthetic. Knausgaard distillery scenester affogato direct trade literally. Jean shorts typewriter fashion axe meh, portland tattooed man braid YOLO try-hard meggings single-origin coffee cliche viral church-key beard. Wolf beard direct trade put a bird on it 90's occupy.
            </p>
          </div>
        </li>
        <li class="cf">
          <div class="episode_thumbnails">
            <a href="#">
              <img src="images/pieter_levels.png" alt="Pieter Level">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to Pull Off 12 (Well Executed) Startup in 12 Months</a></h2>
            <p class="description">
              Pork belly mumblecore try-hard chillwave, occupy hoodie you probably haven't heard of them YOLO church-key aesthetic. Knausgaard distillery scenester affogato direct trade literally. Jean shorts typewriter fashion axe meh, portland tattooed man braid YOLO try-hard meggings single-origin coffee cliche viral church-key beard. Wolf beard direct trade put a bird on it 90's occupy.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagination">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a href="#">2</a>
    <a href="#" class="next_page">Next</a>
  </div>
